<nav class="navbar navbar-dark bg-dark mb-4">
        <a class ="navbar-brand"href="#">Registrados</a>
      </nav>

      <div class="container">
          <div class="row">
              <div class="col-md-7">
                      <div class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Telefono</th>
                                    <th>Contraseña</th>
                                    <th>Acciones</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                        <a class="btn btn-danger"href="">Eliminar</a>
                                        <a class="btn btn-primary"href="">Actualizar</a>
                                        
                                  </td>
                              </tr>
                          </tbody>
                      </div>

              </div>
          </div>
      </div>
