<nav class="navbar navbar-dark bg-dark mb-4">
  <a class ="navbar-brand"href="#">Log in</a>
</nav>


<div class="container">
  <div class="row">
    <h2 class="tittle offset-md-3"> Log In</h2>
      <div class="col-md-8 offset-md-3">
          <div class="card">
              <div class="card-body">
                  <form method="get">
                     <div class="form-group">
                         <input class="form-control" type="text"name="nombre"placeholder="Nombre">
                     </div>
                    
                  <div class="form-group">
                      <input class="form-control" type="password"name="password"placeholder="Contraseña">
                  </div>
                  <button class="btn btn-primary" type="submit">Ingresar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<app-todos></app-todos>

<router-outlet></router-outlet>